{% extends 'base.html' %}{% block content %}
<div class="card" style="max-width:560px;margin:auto">
  <h1>Criar nova senha</h1>
  <form method="post">
    <label class="label">Nova senha</label>
    <input class="input" type="password" name="password" minlength="6" required>
    <label class="label">Confirmar nova senha</label>
    <input class="input" type="password" name="confirm_password" minlength="6" required>
    <button class="btn">Salvar nova senha</button>
  </form>
</div>
{% endblock %}
